---
title: "Mapping Change: A Temporal Knowledge Graph of Scottish Gazetteers (1803–1901)"
author:
  - name: "Lilin Yu"
    affiliation: "EPCC, University of Edinburgh"
    email: "L.Yu-40@sms.ed.ac.uk"
  - name: "Rosa Filgueira"
    affiliation: "EPCC, University of Edinburgh"
    email: "r.filgueira@epcc.ed.ac.uk"
---

<header markdown="1">
# <%= @item[:title] %>
</header>

<!-- Hack to make our custom fonts load in print-mode -->
<span class='printfont1'> </span>
<span class='printfont2'> </span>
<span class='printfont3'> </span>
<span class='printfont4'> </span>

<div id="content">
  <%= section 'abstract' %>

<main>
  <%= section 'introduction' %>
  <%= section 'related-work' %>
  <%= section 'resource-description' %>
  <%= section 'hto' %>
  <%= section 'construction-and-content' %>
  <%= section 'usage' %>
  <%= section 'evaluation' %>
  <%= section 'sustainability' %>
  <%= section 'conclusion' %>
  <%= section 'acknowledgements' %>
  <%= section 'references' %>
</main>

<footer></footer>
</div>

