---
title: "Mapping Change: A Temporal and Semantic Knowledge Base of Scottish Gazetteers (1803–1901)"
author:
  - name: "Lilin Yu"
    affiliation: "EPCC, University of Edinburgh"
    email: "L.Yu-40@sms.ed.ac.uk"
  - name: "Rosa Filgueira"
    affiliation: "EPCC, University of Edinburgh"
    email: "r.filgueira@epcc.ed.ac.uk"
---

<header>
  <h1><%= @item[:title] %></h1>
  <p>
    <strong>Lilin Yu</strong>, <strong>Rosa Filgueira</strong><br />
    EPCC, University of Edinburgh<br />
    <a href="mailto:L.Yu-40@sms.ed.ac.uk">L.Yu-40@sms.ed.ac.uk</a>,
    <a href="mailto:r.filgueira@epcc.ed.ac.uk">r.filgueira@epcc.ed.ac.uk</a>
  </p>
  <p><strong>Identifier:</strong> <a href="https://rosafilgueira.github.io/MappingChange-Paper-ISWC2025/">https://rosafilgueira.github.io/MappingChange-Paper-ISWC2025/</a></p>
</header>

<!-- Hack to make our custom fonts load in print-mode -->
<span class='printfont1'> </span>
<span class='printfont2'> </span>
<span class='printfont3'> </span>
<span class='printfont4'> </span>

<div id="content">
  <%= section 'abstract' %>

<main>
  <%= section 'introduction' %>
  <%= section 'related-work' %>
  <%= section 'resource-description' %>
  <%= section 'hto' %>
  <%= section 'construction-and-content' %>
  <%= section 'usage' %>
  <%= section 'conclusion' %>
  <%= section 'acknowledgements' %>

</main>


<footer></footer>
</div>

